body {
    margin: 0;
    background: #f7f7f7;
    font-family: "Poppins", sans-serif;
}

.container {
    text-align: center;
    padding: 40px 20px;
}

.text1 h1 {
    color: #445b39;
    margin-bottom: 5px;
    font-size: 28px;
}

.text1 p {
    color: #777;
    margin-top: 25px;
}

.nivel {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
    font-weight: bold;
}

.card-info {
    background: #e4e7ec;
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid #777777;
    font-size: 14px;
}

.card {
    background: rgb(201, 195, 195);
    padding: 40px;
    width: 500px;
    max-width: 90%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
    border: 1px solid #000000;
}

.arvore {
    width: 200px;
    margin: 0 auto 25px;
    display: block;
}

.progress-label {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 35px;
    background: #e0e0e0;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 25px;
}

.barra {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #2c473e, #6a8e4e);
    color: white;
    text-align: center;
    line-height: 35px;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 50px;
}

.prox-nivel {
    font-size: 14px;
    color: #666;
    margin: 20px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

.btn.verde {
    background: linear-gradient(to right, #2c473e, #6a8e4e);
    color: white;
    font-weight: bold;
}

.btn.cinza {
    background: #e5e5e5;
    color: #333;
    font-weight: bold;
}

.missao {
    background: #ffffff;
    width: 500px;
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
    border: 1px solid #cccccc;
    text-align: left;
}

.missao h3 {
    text-align: center;
    color: #2c473e;
    margin-bottom: 15px;
    font-size: 20px;
}

.missao label {
    background: #e9f4e6;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.missao input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.resetar {
    text-align: center;
    color: #2b80d9;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.resetar:hover {
    text-decoration: underline;
}